<a href="https://colab.research.google.com/github/michelle-lira/30DiasDeCodigo/blob/main/modelo_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bootcamp Carrefour Data Engineer

## Curso: Introd. à Ciência de Dados - Digital Innovation One

## Objetivo da Atividade

Criaremos um modelo de machine learning com o intuito de prever a probabilidade de sobrevivência dos tripulantes do Titanic.

## Dados do Titanic

https://www.kaggle.com/hesh97/titanicdataset-traincsv

## Pacotes necessários

In [20]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

## Lendo o banco de dados

In [21]:
dados = pd.read_csv('/content/train.csv')

In [22]:
dados.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [23]:
dados = dados.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis = 1)

In [24]:
dados.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

## Editando Chave e Variável Resposta

In [25]:
dados = dados.set_index(['PassengerId'])
dados = dados.rename(columns = {'Survived': 'target'}, inplace = False)

In [26]:
dados.head()

             target  Pclass     Sex   Age  SibSp  Parch     Fare
PassengerId
1                 0       3    male  22.0      1      0   7.2500
2                 1       1  female  38.0      1      0  71.2833
3                 1       3  female  26.0      0      0   7.9250
4                 1       1  female  35.0      1      0  53.1000
5                 0       3    male  35.0      0      0   8.0500

## Descritiva

In [27]:
dados.describe()

           target      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [28]:
dados.describe(include=['O'])

         Sex
count    891
unique     2
top     male
freq     577

## Transformação dos Dados

In [29]:
dados['Sex_F'] = np.where(dados['Sex'] == 'female', 1, 0)

dados['Pclass_1'] = np.where(dados['Pclass'] == 1, 1, 0)
dados['Pclass_2'] = np.where(dados['Pclass'] == 2, 1, 0)
dados['Pclass_3'] = np.where(dados['Pclass'] == 3, 1, 0)

In [30]:
dados = dados.drop(['Pclass', 'Sex'], axis = 1)

In [31]:
dados.head()

             target   Age  SibSp  Parch  ...  Sex_F  Pclass_1  Pclass_2  Pclass_3
PassengerId                              ...
1                 0  22.0      1      0  ...      0         0         0         1
2                 1  38.0      1      0  ...      1         1         0         0
3                 1  26.0      0      0  ...      1         0         0         1
4                 1  35.0      1      0  ...      1         1         0         0
5                 0  35.0      0      0  ...      0         0         0         1

[5 rows x 9 columns]

In [32]:
# Verificando a quantidade de dados faltantes
dados.isnull().sum()

target        0
Age         177
SibSp         0
Parch         0
Fare          0
Sex_F         0
Pclass_1      0
Pclass_2      0
Pclass_3      0
dtype: int64

In [33]:
# Os dados faltantes serão substituídos por 0
dados.fillna(0, inplace = True)

In [34]:
dados.isnull().sum()

target      0
Age         0
SibSp       0
Parch       0
Fare        0
Sex_F       0
Pclass_1    0
Pclass_2    0
Pclass_3    0
dtype: int64

## Amostragem

In [37]:
# Separando 70% dos meus dados para treino e 30% para teste do modelo
x_train, x_test, y_train, y_test = train_test_split(dados.drop(['target'], axis = 1),
                                                    dados["target"],
                                                    test_size = 0.3,
                                                    random_state = 1234)
[{'treino': x_train.shape},
 {'teste': x_test.shape}]

[{'treino': (623, 8)}, {'teste': (268, 8)}]

## Modelo

![random_forest_logo.png]()

In [38]:
rndforest = RandomForestClassifier(n_estimators = 1000,
                                   criterion = 'gini',
                                   max_depth = 5)

rndforest.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [43]:
probabilidade = rndforest.predict_proba(dados.drop('target', axis = 1))[:,1]
classificacao = rndforest.predict(dados.drop('target', axis = 1))

In [45]:
dados['probabilidade'] = probabilidade
dados['classificacao'] = classificacao

**Instrutor e Autor:** Guilherme Ribeiro Maia  
**Contato:** gribeiromaia91@gmail.com

![dio.png]()